<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<!--<configuration debug="true">-->


    <!-- Define the filename for all persisted log files -->
    <property name="LOG_FILE" value="./logs/java-logging"/>​


    <!-- Configuration for logging to the console -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!--<pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] %highlight(%-5level) %logger{36} [%thread] - %mdc - %msg %n</pattern>-->
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] %-5level %logger{36} [%thread] - %mdc - %msg %n</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>


    <!-- Configuration for logging to a flat file -->
    <appender name="flatfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_FILE}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FILE}.log.%d{yyyy-MM-dd}.gz</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] %-5level %logger{36} [%thread] - %mdc - %msg %n</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>


    <!-- Configuration for logging to Logstash -->
    <appender name="logstash" class="net.logstash.logback.appender.LogstashAccessTcpSocketAppender">
        <destination>logstash:4560</destination>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>
    ​

    <!-- Configuration for logging to a JSON file -->
    <appender name="json" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_FILE}.json</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FILE}.json.%d{yyyy-MM-dd}.gz</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <mdc/>
                <timestamp>
                    <timeZone>UTC</timeZone>
                </timestamp>
                <stackHash/>
                <pattern>
                    <pattern>
                        {
                        "log.level": "%level",
                        "thread": "%thread",
                        "class": "%logger",
                        "mdc": "%mdc",
                        "message": "%message",
                        "stacktrace": "%ex{full}"
                        }
                    </pattern>
                </pattern>
            </providers>
        </encoder>
    </appender>


    <!-- The default root log level is set to TRACE -->
    <root level="TRACE">
        <appender-ref ref="console"/>
        <appender-ref ref="flatfile"/>
        <appender-ref ref="logstash"/>
        <appender-ref ref="json"/>
    </root>


</configuration>
